# Current Node Version
defaults: &defaults
  docker:
    - image: circleci/node:17-browsers
cache-defaults: &cache-defaults
  keys:
    - intuit-renovate-config-{{ checksum "yarn.lock" }}

aliases:
  - &yarn
    name: Installing Dependencies
    command: yarn install --non-interactive --frozen-lockfile --cache-folder ~/.cache/yarn
  - &cache-modules
    key: intuit-renovate-config-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn
      - node_modules
      # Necessary so that linting is faster on CI
      - .eslintcache

version: 2
debug: true
jobs:
  # Test the current node version
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          <<: *cache-defaults
      - run: *yarn
      - save_cache: *cache-modules

  deploy:
    <<: *defaults
    steps:
        - checkout
        - restore_cache:
            <<: *cache-defaults
        - run: *yarn
        - run:
            name: Create Release
            command: yarn semantic-release

workflows:
  version: 2
  build_and_tests:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
                only: master
      
